<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <!-- conext作用域配置 -->
  <servlet>
  <servlet-name>co</servlet-name>
  <servlet-class>com.baizhi.lean.ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>co</servlet-name>
  <url-pattern>/c</url-pattern>
  </servlet-mapping>
</web-app>